{% set name = '' %}
{% if form_input is not null %}
{% set name = attribute(form_input, 'getName') %}
{% endif %}

<form class='' method="post" action="">
  <div class="form">
    <div><label>名前で検索</label></div>

    <textarea name="name" rows="5" cols="60">{{ name }}</textarea>
    <input type="submit" value="検索する">
  </div>
</form>