{% extends 'layouts/index.twig' %}

{% block title %}Xss{% endblock %}
{% block header_title %}Xss{% endblock %}

{% block content %}
  <h1>入力を画面に表示します</h1>
  <form class='' method="post" action="">
    <div class="form">
      <label>ここに入力</label>
      <input type="text" id="input" name="input">
      <input type="submit" value="画面に出力する">
    </div>
  </form>
{% endblock %}

